<template name="postSubmit">
  <form class="main form">
    <div class="form-group {{errorClass 'name'}}">
      <label class="control-label" for="url">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="" placeholder="the place name" class="form-control"/>
          <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'adress'}}">
      <label class="control-label" for="title">Adresse</label>
      <div class="controls">
          <input name="adress" id="adress" type="text" value="" placeholder="type the adress" class="form-control"/>
          <span class="help-block">{{errorMessage 'adress'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'imgurl'}}">
      <label class="control-label" for="title">Image</label>
      <div class="controls">
          <input name="imageurl" id="imageurl" type="text" value="" placeholder="image url" class="form-control"/>
          <span class="help-block">{{errorMessage 'imageurl'}}</span>
      </div>
    </div>
     <div class="form-group {{errorClass 'type'}}">
      <label class="control-label" for="title">Type</label>
      <div class="controls">
          <select name="type" id="type"  value="" placeholder="type the adress" class="form-control">
            <option value="Restaurant">Restaurant</option>
             <option value="Hotel">Hotel</option>
             <option value="Shop">Shop</option>
        </select> 
          <span class="help-block">{{errorMessage 'adress'}}</span>
      </div>
      
    </div>
    <div class="form-group {{errorClass 'long'}}">
      <label class="control-label" for="title">long</label>
      <div class="controls">
          <input name="long" id="long" type="text" value="" placeholder="long" class="form-control"/>
          <span class="help-block">{{errorMessage 'long'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'lat'}}">
      <label class="control-label" for="title">lat</label>
      <div class="controls">
          <input name="lat" id="lat" type="text" value="" placeholder="lat" class="form-control"/>
          <span class="help-block">{{errorMessage 'lat'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>