<template name="postItem">
  <div class="post" {{attributes}}>
    <div class="post-content">
      <img  width="10%" height="auto" src="{{imageurl}}"/>
      <h3><a href="{{url}}">{{name}}</a><span>{{adress}}</span></h3>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">Vote</a>
    
  </div>
</template>